<div class="container pb-4">
  <h4 class="mt-5 mb-5"><span style="background: #FFEBD2;">管理者ログイン</span></h4>

  <%= form_with model: @admin, url: session_path(resource_name) do |f| %>

  <div class="row mb-4">
    <label class="col-lg-3">メールアドレス</label>
    <div class="col-lg-4">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'sample@example.com', size: 50 %>
    </div>
  </div>

  <div class="row mb-4">
    <label class="col-lg-3">パスワード</label>
    <div class="col-lg-4">
      <%= f.password_field :password, autocomplete: "current-password", size: 50 %>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-lg-3"></div>
    <div class="col-lg-4">
      <%= f.submit "ログイン", class: 'btn btn-success w-75' %>
    </div>
  </div>
  <% end %>
  <%= render "admin/shared/links" %>
</div>
