<div class="container pb-5">
  <h4 class="my-5 ml-5"><span class="display">注文情報確認</span></h4>
  <div class="row">
    <div class="col-md-9">
      <div class="table_width">
        <table class="table table-bordered">
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
          <% total = 0 %>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td>
                <%= image_tag cart_item.item.get_image(60,60), class: "mr-4" %>
                <%= cart_item.item.name %>
              </td>
              <td><%= (cart_item.item.price*@tax).floor.to_s(:delimited) %></td>
              <td><%= cart_item.quantity %></td>
              <td>
                 <% subtotal = ((cart_item.item.price*cart_item.quantity)*@tax).floor.to_s(:delimited) %> <!--小計の計算-->
                 <%= subtotal %>
               </td>
             </tr>
             <% total += ((cart_item.item.price*cart_item.quantity)*@tax).floor %>
          <% end %>
        </table>
      </div>
    </div>
    <div class="col-md-3">
      <%= form_with model: @order, url: orders_path, method: :post, local: true do |f| %>
      <div class="table_width">
        <table class="table table-bordered">
         <tr>
           <th>送料</th>
           <td>
             <%= @order.const_shipping_cost %>
             <%= f.hidden_field :shipping_cost %>
           </td>
         </tr>
         <tr>
           <th>商品合計</th>
           <td>
             <%= total.to_s(:delimited) %>
            </td>
          </tr>
          <tr>
            <th>請求金額</th>
            <% @order.total_price = @order.const_shipping_cost + total %>
            <td>
              <%= @order.total_price.to_s(:delimited) %>
              <%= f.hidden_field :total_price %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class='col-11 offset-1'>
        <table class="table table-borderless">
            <tr><th class="col-2">支払い方法</th><td class="col-10">
              <%= @order.payment_i18n %>
              <%= f.hidden_field :payment %>
              </td></tr>
            <tr><th class="col-2">お届け先</th><td class="col-10">
            〒<%= @order.postal_code %>
            <%= f.hidden_field :postal_code %>
            <%= @order.address %>
            <%= f.hidden_field :address %>
            <%= @order.name %>
            <%= f.hidden_field :name %>
            </td></tr>
        </table>
      </div>
    </div>
  <div class="row justify-content-center">
        <%= f.submit "注文を確定する", class: "btn btn-base" %>
    <% end %>
  </div>
</div>



