<div class="container">
  <div class="row mb-5">
    <div class="col-3 mt-4">
      <%= render '/admin/genres/index', genres: @genres %>
    </div>
    <div class="col-9">
      <h4 class="mt-4"><span style="background: #FFEBD2;">商品一覧</span><span style="font-size:20px;">（全<%= @items.count %>件）</span></h4>
        <div class="d-flex flex-wrap my-3">
          <% @items.each do |item| %>
            <div class="pr-4 pb-3">
              <%= link_to item_path(item), class: "text-dark" do %>
                <%= image_tag item.get_image(180,180) %></br>
                <%= item.name %></br>
              <% end %>
              ￥<%= item.add_tax_price.to_s(:delimited) %>
            </div>
          <% end %>
        </div>
    </div>
  </div>
</div>