<div class="container">
  <div class="row mb-5">
    <div class="col-2 mt-4">
      <%= render '/admin/genres/index', genres: @genres %>
    </div>
    <div class="col-4 mt-4">
      <%= image_tag @item.get_image(300,300) %>
    </div>
    <div class="col-6 mt-4">
      <div>
        <h4><strong><%= @item.name %></strong></h4>
        <p style="font-size: 20px;"><%= @item.caption %></p>
      </div>
      <div class="row mt-5">
        <h4><strong>￥<%= @item.add_tax_price.to_s(:delimited) %></strong></h4>（税込）
      </div>
      <% if @item.is_sales == true %>
        <%= form_with model: @cart_item, url: cart_items_path, method: :post do |f| %>
          <div class="form-group">
            <%= f.select :quantity, *[1..10], { include_blank: '個数選択'}, class: "form-select-lg" %>
            <%= f.hidden_field :item_id, :value => @item.id %>
            <%= f.submit "カートに入れる", class: "btn btn-secondary" %>
          </div>
        <% end %>
      <% else %>
      <% end %>
    </div>
  </div>
</div>